
/* baseLine */

.global {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  padding: 12px 100px;
}

/* Header */

.navbar {
  position: absolute;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: aliceblue;
  gap: 30px;
  list-style: none;
  padding: 30px;
  margin: 0;
}

.navbarLink {
  font-family: sans-serif;
  cursor: pointer;
  font-weight: 600;
}

.navbarLink:hover {
  color: #2e2e2e;
}

/* Home */

.homeContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;
}

.heroText {
  font-size: 72px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subHeroText {
  font-size: 16px;
}

/* page container */
.page {
  margin-top: 150px;
}

/* News Page */

.newsContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.card {
  width: 45%;
  box-shadow: 2px 0px 9px #888787;
}

.imgContainer {
  width: 100%;
}

.newImg {
  width: 100%;
  height: 350px !important;
}

.cardBody {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  padding: 20px;
}

.author {
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(97, 22, 235);
}

.title {
  font-size: 16px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.publish {
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.description {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
}

.extras {
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
}